body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Темный фон */
    color: #fff; /* Белый текст */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffc107; /* Желтый цвет блока */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #333; /* Темный заголовок */
}

.conversion-block {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333; /* Темный текст для меток */
}

input,
select,
button {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #333; /* Темный цвет кнопки */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555; /* Темно-серый при наведении */
}

p#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333; /* Темный цвет для результата */
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffc107;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #333;
}

.conversion-block {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input,
select,
button {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

p#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
